* {
  box-sizing: border-box;
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.Video {
  position: relative;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  opacity: 20%;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
  height: 250px;
  width: 250px;
  padding: 20px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}